<form class = 'q2container' [formGroup]="dynFormGroup" (ngSubmit)="onFormSubmit($event)">

    <div *ngFor="let field of formFields">

        <div [ngSwitch]="field.controlType">

            <div *ngSwitchCase="'input'">
                <div class = "form-field">
                    <label>{{field.fieldLabel}}</label>
                    <input [formControlName]="field.controlName" [id]="field.controlName" [type]="field.inputType" >
                </div>
            </div>
            
            <div *ngSwitchCase="'button'">
                <div class="form-field">
                    <button ngDefaultControl [formControlName]="field.controlName" [id]="field.controlName" [type]="field.inputType">{{field.fieldLabel}}</button>
                </div>    
            </div>     

        </div>

</div>  

</form>

<hr />


