

  
 .q2container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    align-items:flex-start;
    gap: 25px;

}
  
.form-field {
    display: flex;
    flex-direction:row;
    gap: 10px;
}