

mat-card-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    gap: 25px;
    justify-content: center;
}

mat-form-field {
    display: flex;
}

mat-card-footer {
    display: flex;
    justify-content: flex-end;
}

.mat-component {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    margin: 2em auto;
    gap: 25px;
    align-items: center;
    justify-content:flex-start ;
}
